# All included in encrypted RGSSAD file
Data/
Graphics/
PBS/

# Already Compiled
Plugins/

# Files in the main project folder
animmaker.exe
animmaker.txt

extendtext.exe
extendtext.txt

Game.rxproj

RPG Maker Encrypter.jar

scripts_combine.rb
scripts_extract.rb

townmapgen v21.1.html
